<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navigation">
    <div class="container">
      <a class="navbar-brand nav-element" href="/" id="logo">Xpay.Life</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link nav-element" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-element" aria-current="page" href="/coming">AboutUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-element" aria-current="page" href="/coming">ContactUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-element" aria-current="page" href="/coming">Help</a>
          </li>
          
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/coming"><i class="btn-outline-light fas fa-bell fa-lg"></i></a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle rounded-pill btn btn-outline-info" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user btn-outline-info"></i> logIn
              </a>
              <ul class="dropdown-menu login-form" aria-labelledby="navbarDropdown">
                
                <form action="/coming" method="">
                  <div class="input-group">
                    <input class="form-control logIn" placeholder="Username" type="text" aria-label="Username">
                    <input class="form-control logIn" placeholder="Password" type="password" aria-label="Password">
                  </div>
                  <button type="submit" class="btn btn-info logIn">SignIn</button>
                  <span>New User? <a href="/coming">Create Account</a></span>
                </form>
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/coming"><i class="btn-outline-light fab fa-facebook-square fa-lg"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/coming"><i class="btn-outline-light fab fa-twitter-square fa-lg"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/coming"><i class="btn-outline-light fab fa-linkedin fa-lg"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/coming"><i class="btn-outline-light fab fa-instagram fa-lg"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/coming"><i class="btn-outline-light fab fa-whatsapp-square fa-lg"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>