<div class="row">


    <div class="col Lpill">
        <a class="icon text-center" onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/mobprepaid.png"> <br>
            Mobile Prepaid
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/electricity.png"> <br>
            Electricity
            <br> <span style="color: #0c2f55;">.</span>
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/DTH.png"> <br>
            DTH
            <br> <span style="color: #0c2f55;">.</span>
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/broadband.png"> <br>
            Broadband
            <br> <span style="color: #0c2f55;">.</span>
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/healthinsurance.png"> <br>
            Health Insurance
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/credit-card.png"> <br>
            Credit Card
            <br> <span style="color: #0c2f55;">.</span>
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/loan.png"> <br>
            Loan EMI
            <br> <span style="color: #0c2f55;">.</span>
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/gas.png"> <br>
            Gas
            <br> <span style="color: #0c2f55;">.</span>
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/lpg.png"> <br>
            LPG Gas
            <br> <span style="color: #0c2f55;">.</span>
        </a>   
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/drop.png"> <br>
            Water
            <br> <span style="color: #0c2f55;">.</span>
        </a>
    </div>
<!-- ===================================== -->

    <div class="col-sm-12 col-md-5 middle" id="middleFunction">
        <br>
        <br>
        <span class="heading">Payment Details</span>
        <form action="">
            <div class="input-group">
                <label class="tab-control">Application Id:</label>
                <input class="form-control" id="tab" placeholder="Reference No" type="text" required>
            </div>
            <div class="input-group">
                <label class="tab-control">Name:</label>
                <input class="form-control" id="tab" placeholder="Firstname" type="text" required>
                <input class="form-control" id="tab" placeholder="Lastname" type="text" required>
            </div>
            <div class="input-group">
                <label class="tab-control">email:</label>
                <input class="form-control" id="tab" placeholder="ex:mayankSahu@gmail.com" type="text" required>
            </div>
            <div class="input-group">
                <label class="tab-control">Phone No:</label>
                <input class="form-control" id="tab" placeholder="Contact Number" type="text" required>
            </div>
            <div class="text-center">
                <button type="submit" class="submit-button btn">Confirm</button>
            </div>
        </form>
    </div>

<!-- ===================================== -->

    <div class="col Rpill" style="background: #0c2f55;">
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/smartphone-call.png"> <br>
            Mobile Postpaid
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/insurance.png"> <br>
            Insurance
            <br> <span style="color: #0c2f55;">.</span>
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/telephone.png"> <br>
            Landline
            <br> <span style="color: #0c2f55;">.</span>
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/cabletv.png"> <br>
            Cable TV
            <br> <span style="color: #0c2f55;">.</span>
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/housing-society.png"> <br>
            housing Society
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/municipal-Tax.png"> <br>
            Municipal Taxes
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/municipal-services.png"> <br>
            Municipal Services
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/hospital.png"> <br>
            Hospital
            <br> <span style="color: #0c2f55;">.</span>
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/subscription.png"> <br>
            Subscription
            <br> <span style="color: #0c2f55;">.</span>
        </a>
        <a class="icon text-center"  onclick="middleFunction()">
            <img class="icon-image btn-outline-info btn" src="images/fastag.png"> <br>
            Fastag
            <br> <span style="color: #0c2f55;">.</span>
        </a>
    </div>


</div>