
<%- include('partials/header') %>
<%- include('partials/navbar') %>


<div class=" text-center">
    <h1  style="margin-top: 100px;">Adding Soon....</h1>
    <a href="/"><h3>Go Back</h3></a>
</div>

<%- include('partials/footer') %>
