<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div style="margin-top: 60px;"></div>
<div class="container">

<div class="text-center">
    <img class="rounded" style="width: 100%; height: 25em; margin-bottom: 20px; border: 2px solid #b3b3b3;;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17b0278e8fe%20text%20%7B%20fill%3A%23555%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17b0278e8fe%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22285.921875%22%20y%3D%22217.7609375%22%3EFirst%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
</div>
<!-- ======================================= -->
    <%- include('buttonGrids') %>
<!-- ======================================= -->


    <div class="row">
        <div class="col-md-5 col-lg-5 text-center">
            <img class="img-fluid" src="images/app-mobile.png">
        </div>
        <div class="col-md-7 col-lg-7 row1-col2">
            <h3 style="font-weight: 900;">Download XPay.Life Mobile App</h3>
            <p class="col-md-10">XIPHIAS XPay Life Pvt Ltd provides a full spectrum of bill payment services through the website, www.xpay.life, mobile application compatible with both Android and iOS devices, Bill Payment Kiosk, POS machines, and Mobile Vans.</p>
            <ul style="list-style: none;">
                <li><i class="fas fa-check-circle"></i> UPI payments, Net-Banking, Credit & Debit cards</li>
                <li><i class="fas fa-check-circle"></i> App, Web, Bill Payment Kiosk, POS machines, Mobile Vans</li>
                <li><i class="fas fa-check-circle"></i> Notifications and Alerts</li>
            </ul>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <a href="/coming"><img class="app-link" src="images/android.png"></a>
                </div>
                <div class="col-md-4 col-lg-4">
                    <a href="/coming"><img class="app-link" src="images/ios.png"></a>
                </div>
            </div>
        </div>
    </div>


    <h1 class="text-center" style="margin: 50px;">More details coming Soon...</h1>
    <h1 class="text-center" style="margin: 50px;">More details coming Soon...</h1>
    <h1 class="text-center" style="margin: 50px;">More details coming Soon...</h1>
    <h1 class="text-center" style="margin: 50px;">More details coming Soon...</h1>

    <div class="text-center">
        <a href="/coming"><img class="rounded" style="width: 100%;" src="images/bottom.png"></a>
    </div>

</div>
<%- include('partials/footer') %>
